*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(15, 15, 15);
  color: #fff;
  font-weight: bold;
}

a {
  color: rgb(103, 103, 103);
  text-decoration: none;
}

a:hover,
a:active {
  color: rgb(195, 195, 195);
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  color: rgb(0, 0, 0);
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

#container {
  height: min(70vw, 70vh);   
  width: min(70vw, 70vh); 
  max-width: 800px;
  max-height: 800px;
  touch-action: none;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.chart-options-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
}

.anchor-style {
  color: white;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto 0;
  color: white;
  padding: 2rem;
}

.info-img {
  width: 75%;
  height: auto;
  border: 1px solid;
  margin: 1em;
}

.links {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.highcharts-figure,
.highcharts-data-table table {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 200px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}

#resetBtn {
  margin-top: 20px;
}

.reset-button rect,
.reset-button text {
  font-size: 15px;
  font-weight: light;
  letter-spacing: 1px;
  height: 20px;
  display: block;
}

.dropdown-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: auto; /* Adjust width as needed */
}

.dropdown-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.dropdown-row label {
  width: 200px; /* Set a fixed width for the labels */
  margin-right: 10px;
  text-align: right;
}

.dropdown-row select {
  width: 150px; /* Set a fixed width for the dropdowns */
  padding: 5px;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 1);
}

.highcharts-contextbutton {
  display: none !important;
}

button {
  padding: 0.5em;
}

.button-container {
  padding: 2em;
}

.zoom-button {
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 1);
  z-index: 100;
}

.title {
  text-align: center;
}

.date-display {
  font-size: .8em;
  font-weight: 300;
  padding-left: 40px;
  padding-right: 40px;
}

.chart-options-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

#api-link {
  overflow-wrap: break-word;
  word-break: break-all;
}

.legend-container {
  display: flex;
  flex-direction: column; /* Stack title and legend items vertically */
  align-items: center; /* Center-align the content */
  width: 100%; /* Full width of the container */
  box-sizing: border-box; /* Include padding in width calculation */
  border: 1px solid rgba(255, 255, 25, 0.1);
  border-radius: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
}

#click-to-hide-show {
  color: rgba(194, 194, 194, 0.8);
}

#legend {
  display: flex;
  flex-direction: row; /* Default to horizontal */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%; /* Full width to accommodate all items */
}

.legend-item {
  display: flex;
  align-items: center;
  margin: 5px; /* Space between items */
  white-space: nowrap; /* Prevent text from wrapping */
}

.legend-item:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
}

.legend-item div {
  min-width: 12px;
  min-height: 12px;
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 5px;
  border-radius: 50%; /* Circle shape */
  flex-shrink: 0; /* Prevent resizing */
}

.legend-item-hidden {
  opacity: 0.4; /* Lower opacity for hidden items */
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  #legend {
    flex-direction: column; /* Stack items vertically on small screens */
  }
}